[Desktop Entry]
Type=Application
Name=icpcbo Start
Comment=icpcbo Start
Exec=/opt/icpcbo/bin/gnome-autostart.sh
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-enabled=true
